---
import PageLayout from "@/layouts/Base";
import { getAllPosts, getUniquePeopleWithCount } from "@/utils";

const allPosts = await getAllPosts();
const allPeople = getUniquePeopleWithCount(allPosts);

const meta = {
	title: "All People",
	description: "A list of all people tagged",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">People</h1>
	<ul class="space-y-4">
		{
			allPeople.map(([person, val]) => (
				<li class="flex items-center gap-x-2">
					<a
						class="cactus-link inline-block"
						href={`/biblical/people/${person}/`}
						title={`View posts with the tag: ${person}`}
						data-astro-prefetch
					>
						&#35;{person}
					</a>
					<span class="inline-block">
						- {val} Post{val > 1 && "s"}
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
